.updatecontains{
    position: relative;
    display: flex;
    flex-direction: column;
}

.tenanthead{
    text-align: center;
}

.updatetable{
    width: 100%;
}

.updatecontent{
    margin-left: 500px;
    margin-top: 80px;
}

.updatelabel{
    font-size: 20px;
}

.updateinput{
    margin-top: 1000px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 20px;  
}

.updaterow{
    width: 250px;
}

.updatebutton{
    margin-top: 50px;
    margin-left: 160px;
    border-radius: 10px;
    border-width: 3px;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}