.detailhead{
    text-align: center;
}
.table{
    margin-bottom: 50px;
    border-collapse: collapse;
    width: min-content;
}
.contains{
    position: absolute;
    left: 10px;
    padding: 40px 60px;
}
.tabledata {
    border: 2px solid #232222;
    text-align: left;
    padding: 8px;
}
.tableheader {
    border: 2px solid #111111;
    text-align: left;
    padding: 10px;
}
.searchbar{
    color: black; 
    margin: 10px 0px 50px 0px;
    padding: 15px 20px;
    width: 300px;
    border-radius: 15px;
    
}